*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    border: 0;
	box-sizing: border-box;
}


body {
    background:#EFE6E4;
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: rgba(83, 55, 56, 1);
    font-style: normal;
    font-weight: normal;
}

.wrapper {
    min-height: 100%;
    display: grid;
    grid-template: minmax(715px,auto) minmax(849px,auto) minmax(1199px,auto) minmax(1098px,auto) minmax(658px,auto) minmax(624px,auto) minmax(104px,auto) / 1fr;
    
    grid-template-areas: "main"
               "about_us"
               "our_works"
               "team"
               "reviews"
               "application"
               "footer";
}

/*====================MAIN========================*/

.main {
    display: grid;
    grid-area: main;
    background-image: url(img/Main.png);
    background-repeat: no-repeat;
    background-size: cover;
    grid-template: 1fr 5fr / 100px 1fr 100px;
}

.main_header {
    grid-area: 1 / 2 / 2 / 3;
}

.main_menu {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 54px;
    font-size: 16px;
    line-height: 20px;
}

.main_menu_2_item {
    display: inline-block;
    margin: 0 22.5px 0 0;
}

.main_text {
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
}

.main_text_total {
    display: grid;
    grid-template: repeat(3, 1fr) / 1fr 1fr;
    justify-self: center;
}

.main_text_header {
    font-size: 50px;
    line-height: 62px;
    color: rgba(83, 55, 56, 1);
    font-style: normal;
    font-weight: normal;
    padding: 24px;
}

.main_text_info {
    grid-area: 2 / 1 / 3 / 2;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: rgba(83, 55, 56, 1);
    padding: 24px;
}

.main_button {
    grid-area: 2 / 1 / 3 / 2;
    background: rgba(204, 139, 134, 1);
    height: 74px;
    width: 309px;
    border-radius: 0px;
    padding: 24px;
}

.main_button:hover {
    cursor: pointer;
}

.main_button_text {
    color: rgba(83, 55, 56, 1);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin: 24px;
}

.main_one_in_two {
    display: flex;
    flex-direction: column;
}





/*====================ABOUT_US====================*/

.header_about_us {
    display: flex;
    justify-self: flex-start;
    align-self: flex-start;
    text-transform: uppercase;
    color: rgba(83, 55, 56, 1);
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 50px;
    grid-area: 1 / 2 / 2 / 3;
}


.about_us_content {
    display: grid;
    grid-area: about_us;
    margin-top: 65px;
    grid-template: 90px minmax(465px,auto) / 445px minmax(528px,auto);
    justify-content: center;
}

.about_us_image {
    grid-area: 2 / 1 / 3 / 2;
}

.about_us_text {
    grid-area: 2 / 2 / 3 / 3;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: rgba(83, 55, 56, 1);
    margin-left: 65px;
}

.about_us_numbers {
    background: #8D7370;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 273px;
    width: 100%;
    margin-top: 15px;
}

.about_us_numbers_grid {
    display: grid;
    grid-template: 62px 45px / 500px 500px 500px;
    justify-self: center;
}

.number {
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 62px;
    color: #FFFFFF;
    text-align: center;
}

.text {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
}

.about_us_number_1 {
    grid-area: 1 / 1 / 2 / 2;
}

.about_us_number_2 {
    grid-area: 1 / 2 / 2 / 3;
}

.about_us_number_3 {
    grid-area: 1 / 3 / 2 / 4;
}

.about_us_number_text_1 {
    grid-area: 2 / 1 / 3 / 2;
}

.about_us_number_text_2 {
    grid-area: 2 / 2 / 3 / 3;
}

.about_us_number_text_3 {
    grid-area: 2 / 3 / 3 / 4;
}


/*===================OUR_WORKS====================*/

.our_works {
    display: grid;
    grid-area: our_works;
}

.our_works_images {
    display: grid;
    grid-template: 90px 451px 30px 451px 100px / 488px 224px 488px;
    justify-self: center;
    margin-top: 60px;
} 


.our_works_image1 {
    grid-area: 2 / 1 / 3 / 2;
    position:relative;
    overflow:hidden;
    background:url(img/Out_works_1.png);
    background-size:cover
}

.mask {
    position:absolute;
    visibility:hidden;
    background: rgba(100, 72, 69, 0.8);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.mask h2 {
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
}

.mask p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
}

.our_works_image1:hover .mask {
    visibility:visible;
}



.our_works_image2 {
    grid-area: 2 / 2 / 3 / 4;
    margin-left: 20px;
}

.our_works_image3 {
    grid-area: 4 / 1 / 5 / 3;
}

.our_works_image4 {
    grid-area: 4 / 3 / 5 / 4;
}

.our_works_images_title {
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    color: #533738;
}

.our_works_still {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    color: #533738;
    grid-area: 5 / 2 / 6 / 4;
    display: flex;
    align-items: center;
}


/*======================TEAM======================*/

.team {
    display: grid;
    grid-area: team;
    background: rgba(226, 196, 186, 1);
}

.team_people {
    display: grid;
    grid-template: 92px 409px / minmax(320px,auto) minmax(320px,auto) minmax(320px,auto);
    justify-self: center;
    margin-top: 50px;
}

.team_people_title {
    grid-area: 1 / 2 / 2 / 3;
    justify-self: center;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    color: #533738;
}

.team_people_1 {
    grid-area: 2 / 1 / 3 / 2;
    margin-right: 26px;
}

.team_people_2 {
    grid-area: 2 / 2 / 3 / 3;
    margin-right: 30px;
}

.team_people_3 {
    grid-area: 2 / 3 / 3 / 4;
}

.team_text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #533738;
}

.team_work {
    display: grid;
    grid-template: 90px minmax(210px,auto) / minmax(120px,auto) minmax(120px,auto) minmax(120px,auto) minmax(120px,auto);
    margin-top: 65px;
    margin: 0 40px;
    justify-self: center;
}

.team_work_title {
    grid-area: 1 / 2 / 2 / 4;
    justify-self: center;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    color: #533738;
    margin-bottom: 30px;
}

.team_work_item1 {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;  
    text-align: center;
    color: #533738;
    margin: 0 30px;
}

.circle {
    position: absolute;
}

.num {
    position: absolute;
    margin-top: 25px;
}

.team_work_item2 {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;  
    text-align: center;
    color: #533738;
    margin: 0 30px;
}

.team_work_item3 {
    grid-area: 2 / 3 / 3 / 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;  
    text-align: center;
    color: #533738;
    margin: 0 30px;
}

.team_work_item4 {
    grid-area: 2 / 4 / 3 / 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;  
    text-align: center;
    color: #533738;
    margin: 0 30px;
}

/*===================REVIEWS=====================*/

.reviews {
    display: grid;
    grid-area: reviews;
}

.reviews_grid {
    display: grid;
    grid-template: 90px 568px / minmax(72px,auto) minmax(407px,auto) minmax(407px,auto) minmax(72px,auto);
    margin-top: 65px;
    justify-self: center;
}

.reviews_title {
    grid-area: 1 / 2 / 2 / 4;
    justify-self: center;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    color: #533738;
}

.reviews_icon1 {
    grid-area: 2 / 1 / 3 / 2;
    margin-top: 240px;
} 

.circle_2 {
    position: absolute;
}

.arrow {
    position: absolute;
    margin-top: 28px;
    margin-left: 20px;
}

.reviews_text {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #533738;
    margin-left: 30px;
    margin-right: 20px;
}

.reviews_text h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #533738;
    text-transform: uppercase;
}

.reviews_images {
    grid-area: 2 / 3 / 3 / 4;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.reviews_icon2 {
    grid-area: 2 / 4 / 3 / 5;
    margin-top: 240px;
}

/*=================APPLICATION====================*/

.application {
    display: grid;
    grid-area: application;
}

/*===================FOOTER=======================*/

.footer {
    display: grid;
    grid-area: footer;
} 