*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    border: 0;
	box-sizing: border-box;
}


body {
    background:#EFE6E4;
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: rgba(83, 55, 56, 1);
    font-style: normal;
    font-weight: normal;
}

.wrapper {
    min-height: 100%;
    display: grid;
    grid-template: minmax(715px,auto) minmax(849px,auto) minmax(1099px,auto) minmax(998px,auto) minmax(658px,auto) minmax(624px,auto) minmax(104px,auto) / 1fr;
    
    grid-template-areas: "main"
               "about_us"
               "our_works"
               "team"
               "reviews"
               "application"
               "footer";
}

/*====================MAIN========================*/

.wrapper_main {
    display: grid;
    grid-area: main;
    background-image: url(img/Main.png);
    background-repeat: no-repeat;
    background-size: cover;
    grid-template: 1fr 5fr / 100px 1fr 100px;
}

.wrapper_main_header {
    grid-area: 1 / 2 / 2 / 3;
}

.wrapper_main_menu {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 54px;
    font-size: 16px;
    line-height: 20px;
}

.wrapper_main_menu_2_item {
    display: inline-block;
    margin: 0 22.5px 0 0;
}

.wrapper_main_text {
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
}

.wrapper_main_text_total {
    display: grid;
    grid-template: repeat(3, 1fr) / 1fr 1fr;
    justify-self: center;
}

.wrapper_main_text_header {
    font-size: 50px;
    line-height: 62px;
    color: rgba(83, 55, 56, 1);
    font-style: normal;
    font-weight: normal;
    padding: 24px;
}

.wrapper_main_text_info {
    grid-area: 2 / 1 / 3 / 2;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: rgba(83, 55, 56, 1);
    padding: 24px;
}

.wrapper_main_button {
    grid-area: 2 / 1 / 3 / 2;
    background: rgba(204, 139, 134, 1);
    height: 74px;
    width: 309px;
    border-radius: 0px;
    padding: 24px;
}

.wrapper_main_button_text {
    color: rgba(83, 55, 56, 1);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin: 24px;
}

.wrapper_main_one_in_two {
    display: flex;
    flex-direction: column;
}





/*====================ABOUT_US====================*/

.wrapper_about_us {
    display: grid;
    grid-area: about_us;
}

/*===================OUR_WORKS====================*/

.wrapper_our_works {
    display: grid;
    grid-area: our_works;
}

/*======================TEAM======================*/

.wrapper_team {
    display: grid;
    grid-area: team;
}

/*===================REVIEWS=====================*/

.wrapper_reviews {
    display: grid;
    grid-area: reviews;
}

/*=================APPLICATION====================*/

.wrapper_application {
    display: grid;
    grid-area: application;
}

/*===================FOOTER=======================*/

.wrapper_footer {
    display: grid;
    grid-area: footer;
} 